Repository trallnag/ansible-role-aws-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, ansible-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        language: node
        entry: npx
        args: [prettier, --write, --prose-wrap=always]
        types_or: [markdown]

      - id: ansible-lint
        name: Ansible Lint
        language: system
        entry: poetry run ansible-lint
        files: ^(meta|molecule|tasks|vars)/
        types: [yaml]

ci:
  autofix_commit_msg: "ci(pre-commit): Apply hook auto fixes"
  autoupdate_commit_msg: "ci(pre-commit): Apply hook rev updates"

ci(pre-commit): Apply hook auto fixes
  README.md
Due: prettier

docs: Fix entry in changelog
  CHANGELOG.md
Due: prettier

Update README.md
  README.md
Due: prettier

ci: Update Python dependencies
  poetry.lock
  pyproject.toml
Due: none

Iterate on new setup
  .github/workflows/ci.yaml
  .github/workflows/format-lint-test.yaml
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  .yamlfmt.yaml
  Justfile
  NOTICE
  Taskfile.yaml
  meta/argument_specs.yml
  poetry.lock
  scripts/get-python-version.sh
  tasks/main.yml
Due: ansible-lint

Iterate on new setup
  .github/workflows/format-lint-test.yaml
Due: none

Iterate on new setup
  Taskfile.yaml
  molecule/latest/molecule.yml
Due: ansible-lint

Iterate on new setup
  .github/workflows/format-lint-test.yaml
  .github/workflows/pre-commit-update.yaml
Due: none

Iterate on new setup
  .github/workflows/pre-commit-updates.yaml
Due: none

Iterate on new setup
  .github/workflows/format-lint-test.yaml
  .github/workflows/import.yaml
  .github/workflows/poetry-updates.yaml
  .github/workflows/pre-commit-updates.yaml
  molecule/default/molecule.yml
  molecule/exact/molecule.yml
  molecule/latest/molecule.yml
Due: ansible-lint

build(deps): Update Python packages
  poetry.lock
Due: none

Iterate on new setup
  .github/workflows/format-lint-test.yaml
  .github/workflows/import.yaml
  .github/workflows/poetry-updates.yaml
  .github/workflows/pre-commit-updates.yaml
  .github/workflows/release.yaml
  CHANGELOG.md
  Justfile
  README.md
  Taskfile.yaml
  scripts/extract-release-notes.py
Due: prettier

chore: Prepare release v0.6.0
  CHANGELOG.md
  RELEASE.md
Due: prettier

docs: Remove docs dir and contents
  docs/README.md
  docs/devel/README.md
  docs/devel/just.md
  docs/devel/pre-commit.md
Due: prettier

Revert "docs: Remove docs dir and contents"
  docs/README.md
  docs/devel/README.md
  docs/devel/just.md
  docs/devel/pre-commit.md
Due: prettier

docs: Update developer documentation
  DEVELOPMENT.md
  Taskfile.yaml
  docs/devel/just.md
  docs/devel/pre-commit.md
  docs/devel/task.md
Due: prettier

Iterate on new setup
  .copier-answers.yml
  .github/dependabot.yaml
  README.md
  scripts/extract-release-notes.py
Due: prettier

chore: Align repo with Copier template v2
  .copier-answers.yml
Due: none

docs: Remove comment from description
  CHANGELOG.md
  README.md
  meta/argument_specs.yml
Due: prettier, ansible-lint

chore: Align repo with Copier template v3
  .copier-answers.yml
  .github/workflows/format-lint-test.yaml
  .github/workflows/import.yaml
  .github/workflows/pre-commit-update.yaml
  .github/workflows/python-poetry-update.yaml
  .github/workflows/release.yaml
Due: none

chore: Align repo with Copier template v6
  .copier-answers.yml
  Taskfile.yaml
Due: none

chore: Align repo with Copier template v7
  .copier-answers.yml
  Taskfile.yaml
Due: none

chore: Align repo with Copier template v8
  .copier-answers.yml
  Taskfile.yaml
Due: none

build(deps): Update Python package(s)
  poetry.lock
Due: none

Add read permission to group for files
  CHANGELOG.md
  tasks/main.yml
Due: prettier, ansible-lint

chore: Align repo with Copier template v10
  .copier-answers.yml
  .github/workflows/format-lint-test.yaml
  .github/workflows/pre-commit-update.yaml
  .github/workflows/python-poetry-update.yaml
  Taskfile.yaml
Due: none

Change permissions to u=rw,g=,o=
  CHANGELOG.md
  tasks/main.yml
Due: prettier, ansible-lint

Change shell executable to /bin/bash
  CHANGELOG.md
  tasks/main.yml
Due: prettier, ansible-lint

Change shell executable to /bin/bash
  molecule/default/verify.yml
  molecule/exact/verify.yml
  molecule/latest/verify.yml
Due: ansible-lint

Fix incorrect links in changelog
  CHANGELOG.md
Due: prettier

Change shell executable back to /usr/bin/bash
  CHANGELOG.md
  molecule/default/verify.yml
  molecule/exact/verify.yml
  molecule/latest/verify.yml
  tasks/main.yml
Due: prettier, ansible-lint

chore: Align repo with Copier template v12
  .copier-answers.yml
Due: none

chore: Align repo with Copier template v13
  .copier-answers.yml
  .pre-commit-config.yaml
  Taskfile.yaml
Due: none

build(deps): Update Python package(s)
  poetry.lock
  pyproject.toml
Due: none

build(deps): Update pre-commit hook(s)
  .pre-commit-config.yaml
Due: none
